#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=COSMIC Text Editor
Exec=cosmic-edit %F
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=com.system76.CosmicEdit
Categories=COSMIC;Utility;TextEditor;
Keywords=Text;Editor;
