#!/usr/bin/make -f

export DESTDIR = debian/cosmic-edit

%:
	dh $@

override_dh_auto_clean:
	ischroot || just vendor

override_dh_auto_build:
	just build-vendored

override_dh_auto_install:
	just rootdir=$(DESTDIR) install
